@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
  /* Replace the tailwind sans font with Inter Variable */
  --font-sans: "Inter Variable", sans-serif;

  /* Custom colors */
  --color-primary: #f57c21;
  --color-secondary: #fba818;
  --color-default: rgb(16 16 16);
  --color-muted: rgb(16 16 16 / 66%);
  --color-page: rgb(255 255 255);
}

.dark {
  /* Custom colors */
  --color-primary: #ca6be6;
  --color-secondary: #645bc9;
  --color-accent: #ca6be6;
  --color-default: rgb(229 236 246);
  --color-muted: rgb(229 236 246 / 66%);
}

/* Call to action button styles */
.cta-gradient {
  @apply bg-gradient-to-r from-secondary to-primary text-white px-8 py-3 rounded-full transition-colors;
}

.cta-gradient:hover {
  @apply bg-primary from-primary to-primary cursor-pointer;
}

.cta-primary {
  @apply bg-primary text-white px-8 py-3 rounded-full transition-colors;
}

.cta-primary:hover {
  @apply bg-secondary cursor-pointer;
}

.cta-secondary {
  @apply bg-secondary text-white px-4 sm:px-8 py-2 sm:py-3 rounded-full transition-colors;
}

.cta-secondary:hover {
  @apply bg-primary cursor-pointer;
}

/* Hide scrollbar while maintaining scroll functionality */
.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
